<div class="container">
    <%= debug session[:cart] %>
<table>
  <% session[:cart].each do|id, quantity| %>
    <% item = Product.where(:id => id).first %>
    <tr>
       <td><%= item.name %></td>
       <td><%=form_tag(update_path(id), method: :post) do%>
              <input type=number value=<%=quantity%> name=quantity max=5 min=0  />
            <%= submit_tag("Update Quantity")%>
            <%end%>
       </td>
       <td><%=form_tag(delete_path(id), method: :post) do%>
            
            <%= submit_tag("Delete")%>
            <%end%>
       </td>
    </tr>
    <% end %>
</table>
</div>
