<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <%= form_tag search_path, method: 'get' do %>
          <%= text_field_tag :search_keywords %>
          <%= select_tag "categories",
                        options_from_collection_for_select(@categories, "id","name"),
                        include_blank: true %>
          <%= submit_tag "Search" %>
        <% end %>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%= link_to 'Home', home_path, :class => "nav_link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'About', about_path, :class => "nav_link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact', contact_path, :class => "nav_link" %>
          </li>
        </ul>
        <li class="nav-item">
          <%= link_to 'Cart', showCart_path, :class => "nav_link" %>
        </li>
      </div>
    </div>
  </nav>
</header>
