<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
  </head>
  <body>
    <!-- Page Content -->
    <div class="container">


        <div class="col-lg-9">


          <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <div class="row">


            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
              <a href="/products/<%= @product.id%>"><img class="card-img-top" src="<%=@product.image %>" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/products/<%= @product.id%>"><%= @product.name%></a>

                  </h4>
                  <p><%= @product.description %></p>
                  <h5><%= number_to_currency @product.price%></h5>
                  <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p> -->
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <%=form_tag(add_to_cart_path(@product.id), method: :post) %>
          <%= submit_tag("Add") %>
          </div>
          <!-- /.col

        <!-- /.col-lg-9 -->
      </div>
    <!-- /.container -->
 </div>

  </body>

</html>
